<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>snapshot_profitbricks_RDC disks</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>40 6 1 * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

#Снапшоты дисков RDC на profitbricks.com


#credential for profitbricks.com
user=&quot;vadym.shpen@starwind.com&quot;
pass=&quot;${pfbpass}&quot;
d=`(date +%F)`

     
#RDC SYS снапшот

curl --include \
     --request POST \
     --user &quot;$user:${pfbpass}&quot; \
     --header &quot;Content-Type: application/x-www-form-urlencoded&quot; \
     --data-urlencode &quot;name=DE-RDC-SYS-$d&quot; \
	 https://api.profitbricks.com/cloudapi/v3/datacenters/090db2df-0beb-4cca-8827-228f293ee5c2/volumes/1f561b9d-24b2-4335-be97-220c6e621674/create-snapshot
     
#RDC DATA снапшот

curl --include \
     --request POST \
     --user &quot;$user:${pfbpass}&quot; \
     --header &quot;Content-Type: application/x-www-form-urlencoded&quot; \
     --data-urlencode &quot;name=DE-RDC-DATA-$d&quot; \
	 https://api.profitbricks.com/cloudapi/v3/datacenters/090db2df-0beb-4cca-8827-228f293ee5c2/volumes/0dad3928-ffd4-4854-a3f8-efe3bb101b77/create-snapshot</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.19">
      <recipients>vadym.shpen@starwind.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs>
        <varPasswordPair var="pfbpass" password="{AQAAABAAAAAQwSEhY0ZfrtZidhAgktcVd5kwLOx5i5UpEtkmOHLolEI=}"/>
      </varPasswordPairs>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
  </buildWrappers>
</project>