<?xml version='1.0' encoding='UTF-8'?>
<project>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash



#credential for profitbricks.com
user=&quot;vadym.shpen@starwind.com&quot;
pass=&quot;${pfbpass}&quot;
d=`(date +%F)`



curl --include \
     --request GET \
     --user &quot;$user:${pfbpass}&quot; \
     https://api.profitbricks.com/cloudapi/v3/datacenters/090db2df-0beb-4cca-8827-228f293ee5c2/volumes</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs>
        <varPasswordPair var="pfbpass" password="{AQAAABAAAAAQ2eFxOpTuHEjsxh/8R6wQ1t2eJvdDe1DIxhSKTHTYR6I=}"/>
      </varPasswordPairs>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
  </buildWrappers>
</project>