<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.5">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/klimat/pfb.git</url>
        <credentialsId>1427a33a-0788-4038-98be-25269373b34b</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash



#credential for profitbricks.com
user=&quot;vadym.shpen@starwind.com&quot;
pass=&quot;${pfbpass}&quot;
d=`(date +%F)`

#
#


#цикл который читает файл построчно, создает под каждый снапшот отдельный файл с его именем
vars=`cat /home/klimat/snapshots/ID-snapshots.txt`
for i in $vars;

do 

curl --include \
     --request GET \
     --user &quot;$user:${pfbpass}&quot; \
     https://api.profitbricks.com/cloudapi/v3/snapshots/$i &gt; /home/klimat/snapshots/$i
     
     #приводим файл к нормальному виду
   
     grep name /home/klimat/snapshots/$i &gt; /home/klimat/snapshots/$i.name1
     grep createdDate /home/klimat/snapshots/$i &gt;&gt; /home/klimat/snapshots/$i.name1
     grep id /home/klimat/snapshots/$i &gt;&gt; /home/klimat/snapshots/$i.name1
     cat /home/klimat/snapshots/$i.name1 | awk &apos;{print $3 }&apos; | rev | cut -c 2- | rev | rev | cut -c 2- | rev | sed -e &apos;s/^.//&apos; &gt; /home/klimat/snapshots/$i
     
     #берем название снапшота и так же называем файл
     name1=`(head -n 1 /home/klimat/snapshots/$i | tail -n 1)`
     mv /home/klimat/snapshots/$i /home/klimat/snapshots/$name1
     rm -r /home/klimat/snapshots/$id1.name1

done
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs>
        <varPasswordPair var="pfbpass" password="{AQAAABAAAAAQt/7hBmAi0+CrxrcQw0m+/gcu7+oUjziGe9F7tBBYQxs=}"/>
      </varPasswordPairs>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
  </buildWrappers>
</project>