<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

db_user=&quot;user&quot;
db_pass=&quot;${dbuserPass}&quot;
db=test_db
mysql -u $db_user -p${dbuserPass} $db &lt; /home/klimat/DB_dump_v2.sql</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
      <varPasswordPairs>
        <varPasswordPair var="dbuserPass" password="{AQAAABAAAAAwTiq0KMNWNVE9Io11Q9swPI1tlZOC7IPRvY+dsahtnb6AbOa8dV1OcdNBtdWrNjRWU2V6gvMADdBjv+9P3Hy8Dg==}"/>
      </varPasswordPairs>
    </com.michelin.cio.hudson.plugins.maskpasswords.MaskPasswordsBuildWrapper>
  </buildWrappers>
</project>